{% extends "admin/index.html" %}
{%block headerscript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
  rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
  rel="stylesheet" />
{% endblock headerscript %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">دوره های آموزشی</li>
  </ol>

</nav>
<div class='container-fluid'>
  <h2> دوره های در انتظار تکمیل</h2>
  <div class='callout callout-warning'>
    <h3>
      تاریخ امروز
      <strong> دوشنبه 13 مرداد 1398</strong>
    </h3>
  </div>
  <table class="table table-fixed table-condensed">
    <thead class="thead-dark">
      <tr>
        <th>عنوان دوره </th>
        <th>سطح </th>
        <th>تعداد نفرات تا این لحظه</th>
        <th> تاریخ شروع دوره</th>
        <th>عملیات</th>
      </tr>
    </thead>
    <tbody>
      {% for doreh in content.doreh %}
      <tr class="clickableRow">
        <td>{{doreh.1}}</td>
        <td>{{doreh.2}}</td>
        <td>3</td>
        <td>{{doreh.3}}</td>
        <td>
          <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#deletedoreh{{doreh.0}}">حذف</button>
          <button type="button" class="btn btn-warning" data-toggle="modal"
            data-target="#editdoreh{{doreh.0}}">ویرایش</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addnewuser">اضافه کردن نفر
            جدید</button>
          <!-- Modal -->
          <div class="modal fade" id="addnewuser" tabindex="-1" role="dialog" aria-labelledby="addnewuserTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addnewuserLongTitle">
                    در حال اضافه کردن دانش آموز به دوره ی
                    <strong>ریاضی هفتم</strong>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputAddress">جستجو...</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder=" نام دانش آموز">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputAddress"></label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="کد ملی">
                      </div>
                    </div>


                    <div class="form-group">
                      <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>شماره تماس</th>
                            <th>مقطع</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for user in content.user %}
                          <tr class="clickable-row">
                            <td>{{user.1}}</td>
                            <td>{{user.2}}</td>
                            <td>{{user.4}}</td>
                            <td>{{user.3}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="form-group callout-warning callout">
                      <label for="inputAddress">
                        تعداد نفرات ثبت نامی در دوره تا این لحظه
                        <strong>5</strong>
                        نفر می باشد.
                      </label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                  <button type="button" class="btn btn-primary">اضافه کن</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="editdoreh{{doreh.0}}" tabindex="-1" role="dialog" aria-labelledby="editdorehTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editdorehLongTitle">
                    در حال ویرایش دوره ی
                    <strong>{{doreh.1}} </strong>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/admin/doreh/updatedoreh/{{doreh.0}}" method="POST" enctype="multipart/form-data"
                  accept-charset="UTF-8">
                  <div class="modal-body">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputAddress">عنوان دوره</label>
                        <input type="text" name="title" class="form-control" id="title"
                          value="{{doreh.1}}">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputAddress">سطح</label>
                        <input type="text" name="level" class="form-control" id="level"
                          value="{{doreh.2}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">تاریخ</label>
                      <input type="text" name="date" class="form-control" id="date" value="{{doreh.3}}">
                    </div>

                    <div class="form-group">
                      <label for="inputAddress">توضیحات</label>
                      <input type="text" name="description" class="form-control" id="discrib" value="{{doreh.4}}">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                    <button type="submit" formmethod="post" class="btn btn-primary">ذخیره</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="deletedoreh{{doreh.0}}" tabindex="-1" role="dialog"
            aria-labelledby="deletedorehTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deletedorehLongTitle">حذف دوره </h5>
                  <p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </p>
                </div>
                <div class="modal-body">
                  <form action="/admin/doreh/deletedoreh/{{doreh.0}}">
                    <div class="form-group">
                      <label for="inputAddress"> آیا از حذف دوره
                        <strong>{{doreh.1}} </strong>
                        اطمینان دارید؟
                      </label>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
                      </div>
                      <div class="form-group col-md-6">
                        <button type="submit" formmethod="get" class="btn btn-success">حذف کن </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}