{% extends "admin/index.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">دوره های آموزشی</li>
  </ol>
  <ol>
    <div class="callout callout-warning">
      <h4>آخرین دوره ثبت شده</h4>
      <p>آز آخرین دوره ثبت شده <strong> 5 </strong>
        روز گذشته است.
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newdoreh">
          ثبت دوره جدید
        </button>

        <!-- Modal -->
        <div class="modal fade" id="newdoreh" tabindex="-1" role="dialog" aria-labelledby="newdorehTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="newdorehLongTitle">ثبت دوره جدید</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAddress"></label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="عنوان دوره">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAddress"></label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="سطح">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress"></label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="تاریخ">
                  </div>

                  <div class="form-group">
                    <label for="inputAddress"></label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="توضیحات">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-primary">ذخیره</button>
              </div>
            </div>
          </div>
        </div>
      </p>
    </div>
  </ol>
</nav>
<div class='container-fluid'>
  <h2> دوره های تکمیل شده</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>عنوان دوره </th>
        <th>سطح </th>
        <th>تعداد نفرات</th>
        <th>تاریخ</th>
        <th>عملیات</th>
      </tr>
    </thead>
    <tbody>
      {% for doreh in content.doreh %}
      <tr>
        <td>{{doreh.1}}</td>
        <td>{{doreh.2}}</td>
        <td>0</td>
        <td>{{doreh.3}}</td>
        <td>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletedoreh">حذف</button>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editdoreh">ویرایش</button>
          <!-- Modal -->
          <div class="modal fade" id="editdoreh" tabindex="-1" role="dialog" aria-labelledby="editdorehTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editdorehLongTitle">
                    در حال ویرایش دوره ی
                    <strong>ریاضی هفتم</strong>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputAddress"></label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="ریاضی هفتم">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputAddress"></label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="A">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress"></label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="2/10/1398">
                    </div>

                    <div class="form-group">
                      <label for="inputAddress"></label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="ادامه دوره ریاضی هفتم سطح B">
                    </div>
                    <div class="form-group callout-warning callout">
                      <label for="inputAddress">تعداد نفرات ثبت نامی در دوره تا این لحظه 
                        <strong>5</strong>
                        نفر می باشد.
                      </label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                  <button type="button" class="btn btn-primary">ذخیره</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="deletedoreh" tabindex="-1" role="dialog" aria-labelledby="deletedorehTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deletedorehLongTitle">حذف دوره </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="inputAddress"> آیا از حذف دوره
                        <strong>ریاضی هفتم</strong>
                        اطمینان دارید؟
                      </label>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
                      </div>
                      <div class="form-group col-md-6">
                        <button type="button" class="btn btn-success">حذف کن </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}