<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">عنوان دوره </th>
            <th scope="col">مقطع</th>
            <th scope="col">تاریخ و ساعت</th>
            <th scope="col">تعداد جلسات برگزاری شده</th>
        </tr>
    </thead>
    <tbody>
        {% for class in content.doreh %}
        <tr>
            <th scope="row">{{class.0}}</th>
            <td>{{class.1}}</td>
            <td>{{class.2}}</td>
            <td>{{class.3}}</td>
            <td>5</td>
        </tr>
        {% endfor %}
    </tbody>
</table>